@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital@0;1&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "SomeType Mono";
  font-weight: 400;
  padding: 2% 0;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url("./assets/paper-bg-1.jpg");
  background-size: 100vh;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.logo-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 0 0 0;
}

.mlrc-logo {
  position: relative;
  width: 27.5%;
  max-width: 300px;
}

.mlrc-title {
  font-size: medium;
  font-weight: 500;
}

.tagline,
.secondary-tagline {
  padding-top: 2%;
  width: 80%;
  margin: 0 auto;
}

.tagline {
  font-size: 30px;
  padding-bottom: 2%;
}

.secondary-content {
  position: absolute;
  bottom: 80px;
  /* padding: 3% 0 0 0; */
}

.secondary-tagline {
  padding-top: 4%;
  font-size: 16px;
}

.button-container {
  padding-top: .5%;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  background-color: #fbf7f5;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: "SomeType Mono";
  width: 80%;
  max-width: 200px;
  border-radius: 6px;
  height: 36px;
  font-size: small;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-handles-container {
  width: 100vw;
  display: flex;
  justify-content: end;
  padding: 2% 6% 0% 0%;
}

.x-handles {
  padding-right: 2%;
}
@media(max-width: 1200px ) {
    .secondary-content{
        bottom: 40px;
    }
    .x-handles-container {
        padding-top: 0;
        padding-bottom: 1%;
    }
}
@media (min-width: 1600px) {
  .logo-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0 0 0;
  }

  .mlrc-logo {
    position: relative;
    width: 30%;
    max-width: 100vw;
  }

  .mlrc-title {
    font-size: 24px;
    font-weight: 500;
  }
  .tagline {
    font-size: 48px;
  }

  .secondary-content {
    bottom: 60px;
  }

  .secondary-tagline {
    padding-top: 4%;
    font-size: 20px;
  }

  .button-container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .button {
    background-color: #fbf7f5;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-family: "SomeType Mono";
    width: 14%;
    max-width: 100vw;
    border-radius: 6px;
    height: 56px;
    font-size: small;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .x-handles-container {
    width: 100vw;
    display: flex;
    justify-content: end;
    padding: 0% 6% 4% 0%;
  }

  .x-handles {
    padding-right: 2%;
  }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .tagline {
    font-size: 24px;
  }

  .secondary-tagline {
    font-size: 14px;
  }

  button {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .logo-container {
    padding: 0;
    width: 100vw;
    height: 30vh;
  }

  .mlrc-logo {
    position: absolute;
    top: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: fill;
  }

  .mlrc-title {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 220px;
    font-size: 16px;
  }

  .tagline,
  .secondary-tagline {
    width: 90%;
  }

  .tagline {
    padding: 10% 3% 0 3%;
    width: auto;
    /* width: 60%; */
    /* height: 10%; overflow: hidden; */
    font-size: 36px;
  }

  .secondary-tagline {
    font-size: 14px;
  }

  .button-container {
    position: absolute;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
    gap: 18px;
    width: 100vw;
  }

  .button {
    font-size: large;
    height: 60px;
  }

  .secondary-content {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .x-handles-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2% 6% 0% 0%;
  }

  .x-handles {
    font-size: 12px;
  }
}
